.nftCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    gap: 3rem;
    padding: 2rem;
}

.nftCard_box{
    border-radius: 15px;
    background-color: var(--shadow-light-color);
    padding: 1rem;
    border-radius: 1rem;

    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.nftCard_box:hover .nftCard_box_img_img{
    transform: scale(1.05);
    border-radius: 1rem;
}

.nftCard_box_update{
    grid-column: 1/-1;
    grid-row: 1/-2;
    z-index: 11111;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 0;
    overflow: hidden;
}

.nftCard_box_update_left{
    background-color: var(--icons-color);
    padding: .5rem 1rem;
    color: var(--main-bg-color);
    border-radius: 2rem;
    margin: 1rem;
}

.nftCard_box_update_left_like{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: .5rem;
}

.nftCard_box_update_left_like_icon{
    color: red;
}

.nftCard_box_update_right{
    background-color: var(--shadow-light-color);
    padding: .5rem .5rem;
    text-align: center;
    transform: skewX(45deg);
    border-bottom-left-radius: 1rem;
    margin-right: -2rem;
    width: 65%;
}

.nftCard_box_update_right_info{
    transform: skewX(-45deg);
    background-color: var(--shadow-light-color);
}

.nftCard_box_update_right_info p{
    font-size: 1.2rem;
    font-weight: 800;
}

.nftCard_box_img{
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.nftCard_box_img_img{
    border-radius: 1rem;
    transition: all .4s ease-in;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nftCard_box_update_details{
    z-index: 1111;
    align-items: center;

    overflow: hidden;
}

.nftCard_box_update_details_price{
    background-color: var(--shadow-light-color);
    margin-left: -1.5rem;
}

.nftCard_box_update_details_price_box{
    padding: .5rem 3rem;
    text-align: center;
}

.nftCard_box_update_details_price_box h4{
    font-size: 1.4rem;
    text-align: start;
}

.nftCard_box_update_details_price_box_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nftCard_box_update_details_price_box_box_bid{
    align-items: center;
    border-radius: .3rem;
}

.nftCard_box_update_details_price_box_box_bid fieldset{
    border: 1px solid var(--icons-color);
    border-radius: .5rem;
}

.nftCard_box_update_details_price_box_box_bid fieldset legend{
    background-color: var(--icons-color);
    display: block;
    color: var(--main-bg-color);
    border-radius: .2rem;
}

.nftCard_box_update_details_price_box_box_bid p{
    font-weight: 600;
}

.nftCard_box_update_details_category{
    color: var(--icons-color);
    text-align: center;
    font-size: 1.5rem;
}


@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
    
    .NFTCard{
        width: 90%;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }

    .NFTCard_box_update_right{
        padding: .5rem 2rem;
    }

    .NFTCard_box_update_right_info p{
        font-size: 1rem;
    }
}

@media screen and (min-device-width: 427px) and (max-device-width: 768px) {
    .NFTCard{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }

    .NFTCard_box_update_right{
        padding: .5rem 2rem;
    }

    .NFTCard_box_update_right_info p{
        font-size: 1rem;
    }
}


@media screen and (min-device-width: 770px) and (max-device-width: 1024px) {
    .NFTCard{
        grid-template-columns: repeat(2, 1fr);
    }
}
